.App {
  text-align: center;
  display: flex;
  justify-content: center;
  height: calc(100vh - 5em);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.DeckListContainer {
  padding-top: 20px;
  padding-bottom: 20px;
  max-height: 90vh;
  display: flex;
  flex-direction: column;
}

.App-header {
  justify-content: center;
  display: flex;
  height: 5em;
  background-color: bisque;
  align-items: center;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
